.dashboard {
    padding: 20px;
    text-align: center;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between logo and title */
}

.ticket-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .ticket-table th,
    .ticket-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .ticket-table th {
        background-color: #f4f4f4;
    }
